<div class="ticket">
  <header>
    <h1><%= @project.name %></h1>
  </header>
  <header>
    <h2><%= @ticket.name %></h2>
  </header>

  <ul class="actions">
    <li><%= link_to 'Edit Ticket', [:edit, @project, @ticket] %></li>
    <li><%= link_to 'Delete Ticket', [@project, @ticket], method: :delete,
      data: {confirm: 'Are you sure?'} %></li>
  </ul>

  <%= simple_format(@ticket.description) %>
</div>
